<!DOCTYPE html>
{% load static %}
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Brain Box{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'basecamp/favi/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'easygo_review/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'easygo_review/css/custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'easygo_review/css/styles.css' %}">

</head>
<body>

        {% block content %}
        {% endblock %}


    <div class="container" style="margin-top: 80px; padding: 0;">
        <div class="footer container-xl width-full p-responsive" role="contentinfo" style="padding-right: 10px;">
            <ul class="list-style-none border-top d-flex justify-content-end">
                <li class="mr-3 mr-lg-2 list-unstyled"><a class="nav-link" href="/">Home</a></li> 
                <li class="mr-3 mr-lg-2 list-unstyled"><a class="nav-link" href="/horeb_yhwh/">Admin</a></li>                                                      
            </ul>
        </div>
    </div>

</body>
</html>
