{% extends "brain_box/base.html" %}

{% block content %}
<div class="container py-5 text-white" style="background-color:rgb(112, 101, 101);  min-height:100vh; padding-top:0;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">💰 Trade Calculator</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Trade Type</label>&nbsp;&nbsp;
                    <select name="trade_type" class="form-select">
                        <option value="Long">Long (Buy → Sell)</option>
                        <option value="Short">Short (Sell → Buy)</option>
                    </select>
                </div>
                <input type="hidden" name="action" value="calc_trade">
                
                <div class="mb-3">
                    <label class="form-label">Buy Price</label>
                    <input type="text" name="buy_price" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Sell Price</label>
                    <input type="text" name="sell_price" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Quantity</label>
                    <input type="text" name="quantity" class="form-control">
                </div>
                
                <button type="submit" class="btn btn-primary w-100 mb-4">Calculate Profit</button>
            </form>

            <hr class="my-4">

            <h2 class="mb-4 text-center">📊 Percentage Calculator</h2>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="calc_percent">
                <div class="mb-3">
                    <label class="form-label">Trade Type</label>&nbsp;&nbsp;
                    <select name="trade_type" class="form-select">
                        <option value="Long">Long</option>
                        <option value="Short">Short</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Base Price</label>
                    <input type="text" name="base_price" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Percentage (%)</label>
                    <input type="text" name="percent" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Quantity</label>
                    <input type="text" name="quantity" class="form-control" value="1">
                </div>                
                <button type="submit" class="btn btn-primary w-100">Calculate Price</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
