{% extends "brain_box/base.html" %}

{% block content %}
{% load humanize %}
<div class="container py-5 text-white text-center" style="background-color:rgb(112, 101, 101);  min-height:100vh;">
    <h2 class="mb-4">📊 Percentage Calculation Result</h2>
    <p>Trade Type: {{ trade_type }}</p>
    <p>Base Price: ${{ base_price |floatformat:2|intcomma }}</p>
    <p>Percentage: {{ percent }}%</p>
    <p>Final Price: ${{ result_price|floatformat:4|intcomma }}</p>
    <p><strong>Net Profit:</strong> ${{ result_total|floatformat:4|intcomma }}</p>

    <a href="{% url 'calculate_trade' %}" class="btn btn-primary mt-4">⬅ Back to Calculator</a>
</div>
{% endblock %}


